extends layout

block content
  if posts.length > 0
    for post in posts
      hr
      h3= post.title
      h5.text-muted= moment(post.date).fromNow()
      p!= marked(post.body)
      hr
  else
    h1 You have no posts or entries.
