extends layout

block content
  .bg
  .jumbotron.welcome.text-center
    h1
      strong Jackrabbit
    br
    h2 Jackrabbit is a posting platform for public blogging and private journals.
    br
    a.btn.btn-lg.btn-success(href="/signup") Join Now

  .wow.fadeInUp
    h2.featurette-heading
      | Create awesome looking posts.
      span.text-muted &nbsp;It look awesome.
    p.lead
      | Markdown supported editor with live preview can help you write faster and better.
    img.img-responsive(src='post.jpg', alt='Posting page')

  hr

  .wow.lightSpeedIn
    h2.featurette-heading
      | Oh yeah, it's that good.
      span.text-muted &nbsp;See for yourself.
    p.lead
      | Beautifully presented posts and journal entries.
    img.img-responsive(src='viewpost.jpg', alt='View post or journal entry')

  .wow.flipInX
    h2.featurette-heading
      | Blogs posts for the public and journal entries for yourself.
      span.text-muted &nbsp;Duality
    p.lead
      | Share your thoughts or memories to the world or reflect on them with yourself.
    img.img-responsive(src='four.jpg', alt='Dashboard showing posts and journal entries')

  hr

  .wow.zoomInLeft
    h2.featurette-heading
      | Explore other user's posts.
      span.text-muted &nbsp;Discover more
    p.lead
      | Find hundreds of other user's post in realtime.
    img.img-responsive(src='explore.jpg', alt='Generic placeholder image')

  hr

  .text-center
    p 
      | Designed and built with all the love in the world by 
      a(href="https://twitter.com/CreaturePhil" target="_blank") @CreaturePhil



block bottom
  script.
    (function() {
      var $jumbotron = $('.jumbotron');
      var $window = $(window);
      var $bg = $('.bg');

      new WOW().init();

      $jumbotron.css('height', window.outerHeight - 60);

      var jumboHeight = $jumbotron.outerHeight();
      function parallax() {
        var scrolled = $window.scrollTop();
        $bg.css('height', (jumboHeight-scrolled) + 'px');
      }

      $window.scroll(function(e){
        parallax();
      });
    })();
